html,
body {
    width: 160px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'bebas', Asap, sans-serif;
    color: white;
    overflow: hidden;
}

.wrapper {
    width: 160px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;

}

img {
    position: absolute;
}

#pacific{
    position: absolute;
    z-index: 1;

}
.s01t02,.s01t03,.s01t04,.s01t05 {
    visibility: hidden;

}

.s01t01{
    position: absolute;
    width:160px;
    height:600px;
    -webkit-clip-path: url(#clippings01t01);
    clip-path: url(#clippings01t01);
    -webkit-transform: translate(0%,10%);
    -ms-transform: translate(0%,10%);
    transform: translate(0%,10%);
}

.s01t02{
    position: absolute;
    width:160px;
    height:600px;
    -webkit-clip-path: url(#clippings01t02);
    clip-path: url(#clippings01t02);
    -webkit-transform: translate(0%,10%);
    -ms-transform: translate(0%,10%);
    transform: translate(0%,10%);
}

.s01t03{
    position: absolute;
    width:160px;
    height:600px;
    -webkit-clip-path: url(#clippings01t03);
    clip-path: url(#clippings01t03);
    -webkit-transform: translate(0%,10%);
    -ms-transform: translate(0%,10%);
    transform: translate(0%,10%);
}

.s01t04{
    position: absolute;
    width:160px;
    height:600px;
    -webkit-clip-path: url(#clippings01t04);
    clip-path: url(#clippings01t04);
    -webkit-transform: translate(0%,10%);
    -ms-transform: translate(0%,10%);
    transform: translate(0%,10%);
}






#controls {
    position: absolute;
    top: 125px;
    right: 0;
    width: 15%;
}

#slider {
    position: absolute;
    top: 125px;
    right: 20%;
    width: 100%;
}


#rectangle01t02{
    fill:'yellow'
}
