@use "../variables" as *;
@use "../mixins" as *;

.hamburger {
  position: fixed;
  right: 1rem;
  top: 0.25rem;
  z-index: 20;

  &__button {
    // White circular button with subtle shadow for better contrast
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
  }

  &__button:focus-visible {
    outline: $border-1 solid rgba(0, 0, 0, 0.3);
    outline-offset: $border-1;
  }

  &__icon {
    position: relative;
    width: 1.5rem; // 24px
    height: 0.75rem; // Slight height to allow spacing between two bars
    display: block;
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: $border-1; // 2px
    background-color: var(--color-black); // Black bars by default
    will-change: transform, opacity, background-color;
    transform-origin: 50% 50%;
  }

  &__line--top {
    top: 0;
  }

  &__line--bottom {
    bottom: 0;
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  //   background: rgba(0, 0, 0, 0.6);
  //   backdrop-filter: blur(4px);
  pointer-events: none; // Controlled by GSAP
  opacity: 0; // Controlled by GSAP

  &__panel {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    height: 100%;
    width: min(52vw, $menu-panel-max-width);
    background: var(--color-black);
    color: var(--color-white);
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.35);
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    @include tablet {
      width: min(92vw, $menu-panel-max-width);
    }
  }

  &__link {
    font-size: 1.125rem; // ~ text-lg
    color: var(--color-white);
    text-decoration: none;
    transition: color $transition;
  }

  &__link:hover,
  &__link:focus-visible {
    color: #e5e5e5; // A bit lighter for hover/focus
    outline: none;
  }

  &__link-text {
    position: relative;
    display: inline-block;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--color-white);
      transition: width 0.3s ease;
    }
  }

  &__link:hover &__link-text::after,
  &__link:focus-visible &__link-text::after {
    width: 100%;
  }

  &__link--active &__link-text::after {
    width: 100%;
  }
}
