html,
body {
    width: 300px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'bebas', Asap, sans-serif;
    color: white;
    overflow: hidden;
}

.wrapper {
    width: 300px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: #394A58;
}



img {
    position: absolute;
}
.s01t01,.s01t02,.s02t00,.s02t01,.s02t02,.s02t022,.s02t023,.s02t04,.s03t01,.staggerLastScene,.s02t04,.s03t01{
    visibility: hidden;
    opacity: 0;
    z-index: 1;

}
.s011bg{
    z-index: 2;
}
.s01t01{
    z-index: 1;
}
.s00bg{
    z-index: 10;
    left:-2px;
}
.s02t01,.s02t02{
    z-index: 3;
}

.s02t03{
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: 0;
}


